body{
    color: white;
    font-family: 'Atyp Display'; 
    font-weight: normal; 
    font-style: normal;
}
.banner_img{
width:100%;
position: relative;
}
.yesh_navbar{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 70px;
    padding-right: 70px;

}

#sobres{
  background-color: #fffbf0;
}

#case{
  background-color: #fffbf0;
}

#clientes{
  background-color: #fffbf0;
}


#sobre h1{
  color: #fcbf00;
  font-size:110px;
  padding-top: 200px;
  padding-bottom:11px;
}

#case h1{
  color: #fcbf00;
  font-size:110px;
  padding-top: 200px;
  padding-bottom:11px;
}

#clientes h1{
  color: #fcbf00;
  font-size:110px;
  padding-top: 200px;
  padding-bottom:11px;
}

#sobre p{
  color: black;
  padding-bottom: 50px;
  font-size: 28px;
}

#case p{
  color: black;
  padding-bottom: 50px;
  font-size: 28px;
}

#clientes p{
  color: black;
  padding-bottom: 50px;
  font-size: 28px;
}

.todos_corpo{ 
  font-weight: bold; 
  color : #e1e1e1!important;
  font-size:21px;
  line-height: 1.5em;
}

.todos_titulo{
  font-family: 'Atyp Display' !important; 
  color: black!important;
  font-weight: bold;
  font-size:25px;
  line-height: 1.5em;
}

.tamanho{
  width: 300px;
  height: 300px;
}

.yesh_col_center{
  justify-content: center;
}


#logo_com{
  background-image: url("./../../assets/imagens/bg_com.png");
}

#logo_live{
  background-image: url("./../../assets/imagens/bg_live.png");
}

#logo_camp{
  background-image: url("./../../assets/imagens/bg_camp.png");
}

#logo_play{
  background-image: url("./../../assets/imagens/bg_play.png");
}

#logo_digital{
  background-image: url("./../../assets/imagens/bg_digital.png");
}

.icone{
   background-color: #e1e1e1;
   width: 150px;
   height: 100px;
   padding-right: 1px;
   border-right: white;
   border: 5px;
}

.fundo_icone{
  background-color: white;
  width: 100%;
}

.yesh_card_footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  background: none !important;
  border: none !important;
}
.yesh_nav_footer{
  height: 100px;
}
.yesh_menu_iten{
  align-items : center;    
}

.logo_yesh{
  width: 200px
}

.yesh_menu_logo{
  text-align: right;
  color: black;
}

.yesh_button_X{
  color: white!important;
}

.wpp_img{
  width: 184px;
  background-color: white;
  padding: 10px 27px;
  border-radius: 32px;
}

.yesh_footer_line{
  color: black;
  position: relative;
  top: 19px;
}

.yesh_footer_logo{
  width: 150px; 
  padding-top: 15px; 
}

.yesh_footer_logo:hover {
  border-top-color: black;
  border-top-style: solid ;
  border-top-width: medium;
}

.yesh_footer_logo_rede{
  width: 50px;  
  padding-right: 10px;
}

.bar1, .bar2, .bar3 {
    width: 50px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }


  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fcbf00;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: right;
    margin-top: 30px;
    padding-right: 90px;
    line-height: 1;  
}
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 50px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

