body {
    color: white;
    font-family: 'Atyp Display';
    font-weight: normal;
    font-style: normal;
}

.masthead {
    text-align: start;
    color: #fff;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    background-color: #fffbf0;
}

.line {
    position: fixed;
    top: 80px;
}

#pogress_line {
    width: 20%;
    left: 40%;
    color: black;
    background-color: black;
    height: 3px;
}

#base_line {
    width: 100%;
    color: black;
    background-color: black;
    height: 1px;
}

.complete {
    padding-top: 30.5rem;
    padding-bottom: 30.5rem;
}

.semi {
    padding-top: 15.25rem;
    padding-bottom: 15.25rem;
}


/* clasese menu e nav bar )*/

.logo_yesh {
    width: 150px
}

.yesh_navbar {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 70px;
    padding-right: 70px;
}

.tamanho {
    min-width: 20%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
}

.yesh_col_center {
    justify-content: center;
}

#logo_com {
    background-image: url("./../../assets/imagens/bg_com.png");
}

#logo_live {
    background-image: url("./../../assets/imagens/bg_live.png");
}

#logo_camp {
    background-image: url("./../../assets/imagens/bg_camp.png");
}

#logo_play {
    background-image: url("./../../assets/imagens/bg_play.png");
}

#logo_digital {
    background-image: url("./../../assets/imagens/bg_digital.png");
}

.icone {
    background-color: #e1e1e1;
    width: 150px;
    height: 100px;
    padding-right: 1px;
    border-right: white;
    border: 5px;
}

.fundo_icone {
    background-color: white;
    width: 100%;
}

.yesh_card_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: none !important;
    border: none !important;
}

.yesh_nav_footer {
    height: 100px;
}

.yesh_menu_iten {
    align-items: center;
}

.logo_cliente {
    width: 100px;
}

.linha_cliente {
    justify-content: center;
    align-items: center;
    align-content: center;
}

.yesh_menu_logo {
    text-align: right;
    color: black;
}

.yesh_button_X {
    color: white !important;
}

.wpp_img {
    width: 184px;
    background-color: white;
    padding: 10px 27px;
    border-radius: 32px;
}

.yesh_footer_line {
    color: black;
    position: relative;
    top: 19px;
}

.yesh_footer_logo {
    width: 150px;
    padding-top: 15px;
}

.yesh_footer_logo:hover {
    border-top-color: black;
    border-top-style: solid;
    border-top-width: medium;
}

.yesh_footer_logo_rede {
    width: 50px;
    padding-right: 10px;
}

#yesh_tag_logo {
    content: url("./../imagens/YeshTag.svg");
}

#yesh_cast_logo {
    content: url("./../imagens/YeshCast.svg");
}

#yesh_beyesher_logo {
    content: url("./../imagens/BeYesher.svg");
}

.bar1,
.bar2,
.bar3 {
    width: 50px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fcbf00;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: right;
    margin-top: 30px;
    padding-right: 90px;
    line-height: 1;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 50px;
    color: black;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

#menu_bu h5 {
    display: block;
}

#menu_bu h3 {
    display: block;
}

.titulo {
    font-weight: bold;
    color: black;
    font-size: 9.375rem;
    line-height: 1.2em;
}

.corpo {
    color: white;
    font-size: 51.2px;
    line-height: 1.2em;
}


/* clasese menu e nav bar */


/*estilo da home */

.home {
    background-image: url(../imagens/BG.png);
    padding-left: 10%;
}

.home_titulo {
    font-weight: bold;
    color: black;
    line-height: 1.2em;
}

.home_corpo {
    color: white;
    font-size: 51.2px;
    line-height: 1.2em;
}


/*estilo da home */


/*estilo da sobre */

.sobre {
    background-image: url(../imagens/Background_02.png);
    padding-left: 10%;
}

.sobre_titulo {
    font-weight: bold;
    color: #fcbf00;
    line-height: 1.2em;
    letter-spacing: 10px;
}

.sobre_1 {
    background-image: url(../imagens/Background_03.png);
    padding-left: 10%;
}

.sobre_texto {
    font-weight: 600;
    color: #fcbf00;
    line-height: 1.2em;
}


/*estilo da sobre */


/*estilo da case */

.yesh_titulo_h1 {
    color: #fcbf00;
}

.yesh_corpo {
    color: black;
    font-size: 1.55rem;
}

.case_titulo {
    font-weight: lighter;
    color: white;
    font-size: 1.6rem;
    line-height: 1.2em;
}

.case_corpo {
    font-weight: lighter;
    color: white;
    font-size: 4rem;
    line-height: 1.2em;
}

.case_botao {
    color: white;
    font-size: 1vw;
    line-height: 3rem;
    font-weight: 600;
    border-radius: 40px;
    padding: 0.5vw 15.8px;
    border-width: 2px;
}

.case_link {
    color: white;
    font-size: 0.8vw;
    line-height: 1.2em;
    padding-top: 15px;
}

.yesh_contato_logo_rede {
    width: 50px;
    margin-left: 25px;
}

.case_1 {
    background-image: url(../imagens/Case\ 01.png);
}

.case_2 {
    background-image: url(../imagens/Case\ 02.png);
}

.case_3 {
    background-image: url(../imagens/Case\ 03.png);
}

.case_4 {
    background-image: url(../imagens/Case\ 04.png);
}

.case_5 {
    background-image: url(../imagens/Case\ 05.png);
}


/*estilo da case */

#areas {
    background: url(../imagens/seta_combo.png) #fcbf00 no-repeat 98% 52.5% !important;
    border-radius: 10px;
    width: 57%;
}

.div_logo {
    padding-bottom: 16px;
}


/*estilo da fle conosco */

.contato {
    background-image: url(../imagens/Background_fale-conosco.png);
    padding-left: 10%;
}

.contato_corpo {
    color: black;
    font-weight: lighter;
    font-size: 2.8rem;
    padding-bottom: 11px;
    line-height: 3.5rem;
    s padding-left: 25px;
}

.contato_título {
    color: black;
    font-weight: bold;
    font-size: 6.4rem;
    padding-top: 7.8125vw;
    padding-bottom: 11px;
}

.wpp_contato_img {
    width: 238px;
    background-color: white;
    padding: 10px 27px;
    border-radius: 32px;
}

.div_logo_cliente {
    padding-top: 30px;
    padding-bottom: 30px;
}

.logo_localizacao {
    padding-top: 1px;
    padding-bottom: 1px;
}

.contato_rede_logo {
    padding-top: 516px;
}


/*estilo da fle conosco */


/* ---------AJUSTAR --)*/

.campo {
    font-family: 'Atyp Display';
    font-weight: normal;
    font-style: normal;
    font-size: 1.50rem;
    background-color: white;
}

.campo option {
    font-family: 'Atyp Display';
    font-weight: normal;
    font-style: normal;
    font-size: 1.2rem;
}

.campo ::placeholder {
    color: white;
}

.banner_img {
    width: 100%;
    position: relative;
}

.todos_corpo {
    color: black !important;
    font-size: 1.213rem;
    line-height: 1.9em;
}

.todos_titulo {
    font-weight: bold;
    color: black !important;
    font-size: 1.213rem;
}

.case_titulo {
    font-weight: lighter;
    color: white;
    font-size: 1vw;
    line-height: 1.2em;
}

.case_corpo {
    font-weight: lighter;
    color: white;
    font-size: 2.1vw;
    line-height: 1.2em;
}

.case_botao_form {
    color: white;
    font-size: 1vw;
    line-height: 1.2em;
    font-weight: 600;
    border-radius: 40px;
    padding: 17px 65px;
    border-width: 3px;
}

.case_botao:hover {
    background-color: transparent;
    color: white;
}

#form_fale_conosco input,
#form_fale_conosco textarea,
#form_fale_conosco select {
    border-radius: 15px;
}

.anima {
    animation: bounce;
    /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s;
    /* don't forget to set a duration! */
}